body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-color: rgba(0, 0, 0, 0.5);
}

.container {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* To style help and support button and give hover effect */
.help-support button {
  color: rgb(216, 219, 216);
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: #28a745;
}

.help-support button:hover {
  background-color: darkgreen;
}
.help-support {
  position: fixed;
  top: 20px;
  left: 20px;
}

.helbutton {
  background-color: #28a745;
}

.a1 {
  color: white;
  text-decoration: none;
}

.login-container {
  background-color: rgba(255, 255, 255, 0.9);
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  text-align: center;
  width: 350px;
}

.login-container h2 {
  margin-bottom: 20px;
  font-size: 24px;
  color: #333;
}

.login-container label {
  display: block;
  font-size: 14px;
  margin-bottom: 8px;
  text-align: left;
}

.login-container input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.button-group {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}

/* To style student and warden button*/
.student-button,
.warden-button {
  width: 48%;
  padding: 10px;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* To give hover effect to student and warden button login*/
.student-button:hover,
.warden-button:hover {
  background-color: darkgreen;
}

/* For hostel logo */
img {
  position: fixed;
  right: 20px;
  top: 20px;
}

/* To style dialog box and link inside it.*/
.dialog {
  width: 300px;
  height: 200px;
  padding: 20px;
  border-radius: 8px;
  border: 1px solid #ccc;
  text-align: center;
  position: relative;
}

.a3 {
  text-decoration: none;
}

/* For styling marquee */
.movingtext {
  color: rgba(171, 216, 25, 0.781);
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 50px;
  font-weight: bolder;
  position: fixed;
  top: 0px;
}
